<div class="wirtshaus">

<div class="row">
		
		<div class="col-md-4">
			<div class="fixed">
				<div class="photosh">
					<%= image_tag "brautstrauss1", :class=> "img-circular"%> 
				</div>
				<hr/>
					<h2>Ihr schönster Tag...</h2>
					<p>Lassen Sie Ihre Hochzeit zum schönsten Tag werden. Die wunderschöne Pfarrkirche St. Stephan ist ideal für die Zeremonie.
					</p>
			</div>
		</div>
		
		<div class="col-md-4">
			<div class="fixed">
				<div class="photosh">
					<%= image_tag "brautstrauss1", :class=> "img-circular"%> 
				</div>
				<hr/>
					<h2>Ihr schönster Tag...</h2>
					<p>Lassen Sie Ihre Hochzeit zum schönsten Tag werden. Die wunderschöne Pfarrkirche St. Stephan ist ideal für die Zeremonie.
					</p>
			</div>
		</div>

		<div class="col-md-4">
			<div class="fixed">
				<div class="photosh">
					<%= image_tag "brautstrauss1", :class=> "img-circular"%> 
				</div>
				<hr/>
					<h2>Ihr schönster Tag...</h2>
					<p>Lassen Sie Ihre Hochzeit zum schönsten Tag werden. Die wunderschöne Pfarrkirche St. Stephan ist ideal für die Zeremonie.
					</p>
			</div>
		</div>
</div>
<div class="row">
		<div class="col-md-4">
			<div class="fixed">
				<div class="photosh">
					<%= image_tag "brautstrauss1", :class=> "img-circular"%> 
				</div>
				<hr/>
					<h2>Ihr schönster Tag...</h2>
					<p>Lassen Sie Ihre Hochzeit zum schönsten Tag werden. Die wunderschöne Pfarrkirche St. Stephan ist ideal für die Zeremonie.
					</p>
			</div>
		</div>
			
		<div class="col-md-4">
			<div class="fixed">
				<div class="photosh">
					<%= image_tag "brautstrauss1", :class=> "img-circular"%> 
				</div>
				<hr/>
					<h2>Ihr schönster Tag...</h2>
					<p>Lassen Sie Ihre Hochzeit zum schönsten Tag werden. Die wunderschöne Pfarrkirche St. Stephan ist ideal für die Zeremonie.
					</p>
			</div>
		</div>

		<div class="col-md-4">
			<div class="fixed">
				<div class="photosh">
					<%= image_tag "brautstrauss1", :class=> "img-circular"%> 
				</div>
				<hr/>
					<h2>Ihr schönster Tag...</h2>
					<p>Lassen Sie Ihre Hochzeit zum schönsten Tag werden. Die wunderschöne Pfarrkirche St. Stephan ist ideal für die Zeremonie.
					</p>
			</div>
		</div>
	</div>
</div>