<div class="row">
			<div class="fixed">
				<%= image_tag "historie_aussen_02350.jpeg", :class=> "img-circular"%> 
				<h2>Historie</h2>
				<h5>Unsere Tradionsgaststätte wurde im Jahre 1868 erbaut und erst als landwirtschaftliches Anwesen genutzt. Später erfolgte der Umbau zum Gasthof.
				</h5>
			</div>

			<div class="fixed">
				<%= image_tag "brautstrauss1", :class=> "img-circular"%> 
				<h2>Ihr schönster Tag...</h2>
				<h5>Lassen Sie Ihre Hochzeit zum schönsten Tag werden. Die wunderschöne Pfarrkirche St. Stephan ist ideal für die Zeremonie.
				</h5>
			</div>

			<div class="fixed">
				<%= image_tag "brautstrauss1", :class=> "img-circular"%> 
				<h2>Ihr schönster Tag...</h2>
				<h5>Lassen Sie Ihre Hochzeit zum schönsten Tag werden. Die wunderschöne Pfarrkirche St. Stephan ist ideal für die Zeremonie.
				</h5>
			</div>
			</div>
<div class="row">
			<div class="fixed">
				<%= image_tag "brautstrauss1", :class=> "img-circular"%> 
				<h2>Ihr schönster Tag...</h2>
				<h5>Lassen Sie Ihre Hochzeit zum schönsten Tag werden. Die wunderschöne Pfarrkirche St. Stephan ist ideal für die Zeremonie.
				</h5>
			</div>
			
			<div class="fixed">
				<%= image_tag "brautstrauss1", :class=> "img-circular"%> 
				<h2>Ihr schönster Tag...</h2>
				<h5>Lassen Sie Ihre Hochzeit zum schönsten Tag werden. Die wunderschöne Pfarrkirche St. Stephan ist ideal für die Zeremonie.
				</h5>
			</div>


			<div class="fixed">
				<%= image_tag "brautstrauss1", :class=> "img-circular1"%> 
				<h2>Ihr schönster Tag...</h2>
				<h5>Lassen Sie Ihre Hochzeit zum schönsten Tag werden. Die wunderschöne Pfarrkirche St. Stephan ist ideal für die Zeremonie.
				</h5>
			</div>
			</div>