<!DOCTYPE html>
<html>
  <head>
    <title>Avanther</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  </head>

  <body>

<%#begin
<% if notice 
    <div id="notice_wrapper">
      <p class="notice"><%= notice </p>
    </div> 
 <% elsif alert 
    <div id="notice_wrapper">
      <p class="alert"><%= alert </p> 
    </div> 
  
  <% end %> 

   <div class="container">
      <div id="notice_wrapper">
           
           <% flash.each do |message_type, message| %>
           <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>

        </div> 

        <% end %>

  	
 <%= render 'layouts/header' %>

   
      <%= yield %>
      

    </div>

  </body>
</html>